body {
  padding: 20px 10%;
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(252, 252, 252);
  color: rgb(68, 68, 68);
}

h1 {
  margin-bottom: 50px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 4em;
}

.analysis {
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
